.btn-group button {
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  width: 100%;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

.nav-items2 {
    background-color: rgb(175, 224, 15);
    overflow: auto;
    white-space: nowrap;
    padding: 14px;
    width: 100%;
    border: #f5f6f5;
  }
  
.nav-items {
    background-color: rgb(46, 43, 197);
    overflow: auto;
    white-space: nowrap;
  }
  
  .nav-items a {
    border-right: 2px solid grey;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  .nav-items a:hover {
    background-color: #777;
  }
  
  .menu-container {
    display: flex;
    flex-direction: row;
  }
  .menu-container2 {
    display: flex;
    flex-direction: co;
  }
  button {
    color: blue;
    border: none;
    background-color: white;
    text-align: center;
    padding: 14px;
    /* text-decoration: none; */
    cursor: pointer;
  }
  button:hover{
    background-color: whitesmoke;
  }